* {
    margin: 0;
    padding: 0;
  }
  ul,li{
      list-style: none;
  }
  html,body{
      overflow: hidden;
      font-family: Microsoft YaHei,Tahoma,Helvetica,Arial,sans-serif;
  }
  .clearfix:after{
      content:"";
      display: block;
      clear: both;
  }